<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shaman</title>
</head>
<body>
<form name="info" method="post">
  parse<br>
  <input type="text" name="parse">
  <br>
  link<br>
  <input type="text" name="link">
    <p><input type="submit"></p>
</form>
<h1> Parsed  : {{parsed}}</h1>
<h1> Videos  : {{videos}}</h1>
<h1> Comments: {{comments}}</h1>
<h1> Groups : {{groups}}</h1>
</body>
</html>